{% set totalCart = getTotalPriceOfCart(cart)|round(2, 'floor') %}
{% set totalCartHt = (totalCart / 1.2)|round(2, 'floor') %}
{% set devise = getDevise() %}

<table class="aky-shop-table table">
    <thead>
    <tr>
        <th scope="col">Produit</th>
        <th scope="col">Quantité</th>
        <th scope="col">Récapitulatif</th>
        {% if front is defined and not front %}
            <th scope="col">action</th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for cartItem in cart.cartItems %}
        {% set p = cartItem.product %}
        {% set totalPrice = (cartItem.qty * cartItem.price) %}

        <tr class="aky-table-row-product">
            <td>
                <div class="aky-table-row-product-summary">
                    <div class="aky-table-row-product-summary__img">
                        {{ renderFileManager(p.thumbnail, false)|raw }}
                    </div>
                    <div class="aky-table-row-product-summary-content">
                        <div class="aky-table-row-product-summary-content__label">
                            {{ p.name }}
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <p><b>{{ cartItem.qty }}</b></p>
            </td>
            <td>
                <p><b>{{ totalPrice }} {{ devise }}</b></p>
            </td>
            {% if front is defined and not front %}
                <td>
                    <a href="{{ path('mounting_back_pdf_atelier', {'id' : p.id}) }}" class="btn btn-sm btn-primary"><i class="far fa-file-pdf"></i></a>
                </td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="row">
    <div class="col-md-6 offset-md-6">
        <table class="aky-shop-table table">
            <tbody>
            <tr>
                <th scope="row">Total hors taxe</th>
                <td>{{ totalCartHt }} {{ devise }}</td>
            </tr>
            <tr>
                <th scope="row">TVA à 20%</th>
                <td>{{ totalCart - totalCartHt }} {{ devise }}</td>
            </tr>
            <tr>
                <th scope="row">Total TTC</th>
                <td>{{ totalCart }} {{ devise }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
