{% extends '@AkyosCore/layout.html.twig' %}

{% block title %}Editer {{ title }}{% endblock %}

{% block page_content %}
    <div class="aky-header-page">
        <h1 class="aky-header-page__title">Éditer {{ title }}</h1>
        <a class="btn btn-outline-dark" href="{{ path('baseUserShop_show', { 'id' : el.client.id }) }}">Retour au client</a>
    </div>

    <div class="content" data-type="{{ entity is defined ? entity : '' }}" data-typeid="{{ el.id is defined ? el.id : '' }}">
        <div class="row">
            <div class="col-md-7">
                <div class="row">
                    {% for cartItemForm in formCiArray %}
                        {% form_theme cartItemForm 'bootstrap_4_layout.html.twig' %}
                        {% set product = cartItemForm.vars.value.product %}
                        <div class="col-md-3">
                            {{ form_start(cartItemForm) }}
                                <div class="card">
                                    <img class="card-img-top" src="{{ renderFileManagerUrl(product.thumbnail) }}" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ product }}</h5>
                                        <p class="card-text">
                                            {{ form_row(cartItemForm) }}
                                        </p>
                                        <button class="btn btn-outline-success">{{ button_label|default('Enregistrer') }}</button>
                                    </div>
                                </div>
                            {{ form_end(cartItemForm) }}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-5">
                {% if el.cartItems is not empty %}
                    <a class="btn btn-secondary btn-sm" href="{{ path('order_new', {'cart': el.id}) }}">Passer commande <i class="fas fa-cash-register"></i></a>
                {% endif %}

                {{ form_start(form) }}
                    {{ form_row(form) }}
                    <button class="btn btn-outline-success">{{ button_label|default('Enregistrer') }}</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
