{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}
    <div class="wrapperLogin">
        <h1 class="mb-3 font-weight-bolder text-left">Connectez-vous</h1>
        <div id="formContent">
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
                    </div>
                {% endif %}
                <div class="form-row">
                    <div class="col-md-12 mb-3">
                        <label for="inputEmail" class="sr-only">Votre email</label>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="inputPassword" class="sr-only">Mot de passe</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required>
                    </div>
                </div>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >

                {#        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.#}
                {#        See https://symfony.com/doc/current/security/remember_me.html#}

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Se souvenir de moi
                    </label>
                </div>

                <button class="btn btn-lg btn-outline-primary" type="submit">
                    Se connecter
                </button>
            </form>
            <div class="mt-4">
                <a href="{{ path('new_password', {'type' : 'User', 'route' : 'app_login'}) }}">Mot de passe oublié ?</a>
            </div>
            <div class="mt-2">
                <a href="{{ path('home') }}">Retour à l'accueil</a>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="https://kit.fontawesome.com/8af8fd2758.js" crossorigin="anonymous"></script>
    <script src="{{ asset('bundles/akyoscore/main.js') }}" defer async></script>
{% endblock %}

 {% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('bundles/akyoscore/main.css') }}">
 {% endblock %}