{% extends '@AkyosCore/layout.html.twig' %}

{% block title %}Editer {{ title }}{% endblock %}

{% block page_content %}
    <div class="aky-header-page">
        <h1 class="aky-header-page__title">Éditer {{ title }}</h1>
        <a class="btn btn-outline-dark" href="{{ path(route~'_index') }}">Retour à la liste</a>
    </div>

    <div class="content" data-type="{{ entity is defined ? entity : '' }}" data-typeid="{{ el.id is defined ? el.id : '' }}">
        <div class="row">
            <div class="col-md-10">
                <ul class="nav nav-tabs" id="tabs" role="tablist">
                    {# GENERAL #}
                    <li class="nav-item">
                        <a class="nav-link active" id="general-tab" data-toggle="tab" href="#general" role="tab" aria-controls="general" aria-selected="true">Général</a>
                    </li>
                    {# BUNDLES #}
                    {{ getBundleTab(entity)|raw }}
                    {# SEO #}
                    {% if hasSeo(entity) %}
                        <li class="nav-item">
                            <a class="nav-link" id="seo-tab" data-toggle="tab" href="#seo" role="tab" aria-controls="seo" aria-selected="true">Référencement</a>
                        </li>
                    {% endif %}
                    {# OPTIONS #}
                    <li class="nav-item">
                        <a class="nav-link" id="options-tab" data-toggle="tab" href="#options" role="tab" aria-controls="options" aria-selected="true">Options</a>
                    </li>
                </ul>

                <div class="tab-content" id="tabsContent">
                    {# GENERAL #}
                    <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="general-tab">
                        {{ form_start(form, {'action' : path(route~'_edit', {'id': el.id})}) }}
                        {{ form_widget(form) }}
                        {{ form_end(form) }}

                        <div class="aky-card">
                            <div class="aky-card-header">
                                <h2 class="aky-card-header__title">
                                    Email lié
                                </h2>
                            </div>
                            <div class="aky-card-body">
                                {% if el.orderEmail %}
                                    <a href="{{ path('orderMail_edit', {'id' : el.orderEmail.id}) }}" class="btn btn-outline-primary">Editer le mail - {{ el.orderEmail.title }}</a>
                                {% else %}
                                    <a href="{{ path('orderMail_new', {'id' : el.id}) }}" class="btn btn-outline-success">Ajouter un mail</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {# BUNDLES #}
                    {{ getBundleTabContent(entity, el.id)|raw }}
                    {# SEO #}
                    {% if hasSeo(entity) %}
                        <div class="tab-pane fade" id="seo" role="tabpanel" aria-labelledby="seo-tab">
                            {{ render(controller(
                                'Akyos\\CoreBundle\\Controller\\Back\\SeoController::index',
                                { 'type': entity, 'typeId': el.id, 'route' : route }
                            )) }}
                        </div>
                    {% endif %}
                    {# OPTIONS #}
                    <div class="tab-pane fade" id="options" role="tabpanel" aria-labelledby="options-tab">
                        {{ include('@AkyosCore/crud/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                {% include '@AkyosCore/crud/elements/_sidebar.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}
