{% extends '@AkyosCore/layout.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block page_content %}
    {% include '@AkyosCore/crud/elements/_header.html.twig' %}
    <table class="table aky-table">
        <thead class="aky-table-head">
        <tr>
            {% for name, field in fields %}
                <th{% if instanceOf(els, 'Knp\\Bundle\\PaginatorBundle\\Pagination\\SlidingPagination') %}
                    {% if els.isSorted((field|split(';')|length > 1 ? field|split(';')[0]~'.' : 'a.')~(field|split(';')|length > 1 ? field|split(';')[1] : field)|lcfirst) %} class="sorted"{% endif %}
                        {% endif %} >
                    {{ instanceOf(els, 'Knp\\Bundle\\PaginatorBundle\\Pagination\\SlidingPagination') ? knp_pagination_sortable(els, name, (field|split(';')|length > 1 ? field|split(';')[0]~'.' : 'a.')~(field|split(';')|length > 1 ? field|split(';')[1] : field)|lcfirst) : name }}
                </th>
            {% endfor %}
            <th>Vérifié ?</th>
            <th style="width: 15%">Action</th>
        </tr>
        </thead>
        <tbody class="aky-table-body">
        {% for el in els %}
            <tr>
                {% for name, field in fields %}
                    {% if field == 'Published' %}
                        <td>
                            <form action="{{ path('core_change_status', {'route' : route, 'el' : entity, 'id' : el.id, 'bundle' : (bundle is defined ? bundle : null) }) }}" class="custom-switch-form" method="post">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input custom-switch-published" id="switch_{{ el.id }}" {{ el.published ? 'checked' : '' }}>
                                    <label class="custom-control-label" for="switch_{{ el.id }}"></label>
                                </div>
                            </form>
                        </td>
                    {% elseif field == 'Position' %}
                        <td>
                            <form action="{{ path('core_change_position', {'route' : route, 'el' : entity, 'id' : el.id, 'bundle' : (bundle is defined ? bundle : null) }) }}" method="post">
                                <input class="form-control" type="number" name="position" value="{{ el.position }}" min="0" max="{{ els|length - 1 }}">
                            </form>
                        </td>
                    {% elseif dynamicVariable(el, field).timezone is defined  %}
                        <td>
                            {{ dynamicVariable(el, field)|date('d-m-Y') }}
                        </td>
                    {% else %}

                        <td>{{ dynamicVariable(el, field) }}</td>
                    {% endif %}
                {% endfor %}
                <td>
                    {{ el.isVerified ? 'oui' : 'non' }}
                </td>
                <td>
                    {% set details = '' %}
                    {% if view is defined %}
                        {% if view == 'page' %}
                            {% set details = path(view, {'slug': el.slug}) %}
                        {% elseif view == 'single' %}
                            {% set details = path(view, {'entitySlug': getEntitySlug(entity), 'slug': el.slug}) %}
                        {% elseif view == 'taxonomy' %}
                            {% set details = path(view, {'entitySlug': getEntitySlug(entity), 'category': el.slug}) %}
                        {% else %}
                            {% set details = null %}
                        {% endif %}
                    {% endif %}
                    {% if details != '' %}
                        <a class="btn btn-second btn-sm" href="{{ details }}"><i class="fas fa-eye"></i></a>
                    {% endif %}
                    <a class="btn btn-second btn-sm" href="{{ path(route~'_show', {'id': el.id}) }}"><i class="fas fa-eye"></i></a>
                    <a class="btn btn-primary btn-sm" href="{{ path(route~'_edit', {'id': el.id}) }}"><i class="fas fa-pencil-alt"></i></a>
                    <form method="post" class="not-submit index-delete" action="{{ path(route~'_delete', {'id': el.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?');">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ el.id) }}">
                        <button class="btn btn-danger btn-sm"><i class="fas fa-times"></i></button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Il n'y a pas de résultats trouvés.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include '@AkyosCore/crud/elements/_pagination.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
